<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='/css/styles2.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
       
        <title>Mercado Liebre</title>
    </head>

<body>
    <header>
    <section class="topBar">
        <img class="logo" src=/images/logo-mercado-liebre.svg  alt="Logo" height="40px">
        <input class="searchBar" type="search" placeholder="Buscar productos"> 
        <div class="lupe">
        <span class="fas fa-search"></span>
        </div>   
        <p>
            <span class="fas fa-hand-holding-usd"></span>Comprá en cuotas y sin tarjeta de crédito
        </p>
    </section>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="menulog">
                <li><a href="/views/register.html">Creá tu cuenta
                    <span class="fas fa-address-card"></span>
                    </a></li>
                <li><a href="/views/login.html">Ingresá
                    <sapn class="fas fa-sign-in-alt"></sapn>
                    </a></li>
                <li><a href="#">Mis compras
                    <sapn class="fas fa-shopping-basket"></sapn>
                    </a></li>
            </ul>
        </nav>
    
        <i class="fas fa-bars"></i>
    </header>
    <section>
        <img class="banner"  src="/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main>
        <h2>Basado en tu última visita</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="200" alt="Cafetera" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="price">$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="200" alt="MacBook" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="price">$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="200" alt="Teléfono Móvil Samsung Galaxy"
                    class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="price">$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="200" alt="SmartTv Samsung" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="price">$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <h2>Ofertas</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="200" alt="Cafetera" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="price">$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="200" alt="MacBook" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="price">$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="200" alt="Teléfono Móvil Samsung Galaxy"
                    class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="price">$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="200" alt="SmartTv Samsung" class="product_img">
                <div>
                <i class="fas fa-truck-moving"></i>
                <p class="price">$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section >
                    <div class="father">
                        <div class="son">
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p class="parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
                        </div>
                    <div class="father">
                        <div class="son">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $2.500</h3>
                    <p class="parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                        </div>
                </div>
                    <div class="father">
                        <div class="son">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p class="parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                        </div>
                </div>
        </section>
         <section>
            <article>
                <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
    </footer>
   
</body>

</html>